*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container {
    margin: 50px auto;
    width: 1000px;
    padding: 30px;
    background-color: aliceblue;
    
}

#recipes_container {
    border-radius: 5px;
    border: 2px solid rgb(206, 229, 250);
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 30px;
}
#recipes_container .recipe {
    border: 3px solid rgb(136, 165, 190);
    padding: 10px;
    margin-bottom: 10px;
}
.recipe img {
    width: 300px;
}
button {
    font-size: 15px;
    outline: none;
    border: 3px solid paleturquoise;
    background-color: rgb(240, 250, 250);
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
    color: rgb(8, 143, 143);
    font-weight: 500;
}
button:hover{
    background-color: rgb(123, 212, 228);
    border-color: rgb(107, 221, 221);
}
button:active{
    background-color: rgb(104, 180, 252);
    border-color: rgb(90, 171, 247);
}
#day_recipe{
    border: 2px solid salmon;
    padding: 10px;
    margin-top: 50px;
}